@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-grey: #DCDFFF;
  --color-grey-2: #F4F5FF;
  --color-shades-accent-50: #FFFAF3;
  --color-shades-success-50: #EFFBF7;

  font-family: Urbanist;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}