@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800;900&display=swap");
@import '@splidejs/react-splide/css';

@import '@splidejs/react-splide/css/skyblue';
@import '@splidejs/react-splide/css/sea-green';

@import '@splidejs/react-splide/css/core';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-grey: #DCDFFF;
  --color-grey-2: #F4F5FF;
  --color-shades-accent-50: #FFFAF3;
  --color-shades-success-50: #EFFBF7;

  font-family: Urbanist;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.text-animate {
  animation: text-down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes text-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box_shadow {
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.07);
}

.box_shadow_hover:hover {
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.07);

}

.blue__gradient {
  background: #4759F9;
  filter: blur(200px);
  border-radius: 50%;
}

.faq-question {
  transition: color ease 0.5s;
}

.faq-button {
  transition: background-color ease 0.5s;
}


.splide__pagination {
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 24px;
  bottom: 0;
}

.splide__pagination li, .splide__pagination__page.is-active {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: var(--color-grey);
}

.splide__pagination__page:hover {
  background-color: #4759f925;
}

.splide__pagination__page.is-active {
  background-color: #4759F9;
  transform: none;
  margin: 0;
  transition: none;
}

.splide__pagination__page {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0;
}

.splide {
  padding: 0;
  padding-bottom: 60px;
}

@media (min-width: 620px) {
  .splide__pagination {
    padding-left: 72px;
  }
}

@media (min-width: 900px) {
  .splide__pagination {
    padding-left: 80px;
  }
}

